@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 10vh 400vh 20vh;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  grid-row-gap: 2rem;
  background-color: #f6e9e3;
}
.guirland {
  background-image: url(../icons/guirlandsnowy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
}

em {
  font-family: "Style Script", cursive;
  font-size: 2em;
}

h2 {
  font-family: "Style Script", cursive;
  font-size: 2em;
  color: #ffffff; 
  margin: 20px;
  font-weight: 400;
}

/*header*/
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 5vw 10vw 1fr 10vw 5vw;
  grid-template-rows: 1fr ;
  grid-template-areas:
    ". logo home language  .";

  background-color: #1b6246;
}
header > nav {
  grid-area: language;
  justify-self: center;
}

.logo-box {
  grid-area: logo;
}
.logo {
    max-width: 10vh;
    max-height: 10vh;
  justify-self: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 10px;
  background-color: #ffffff;
  justify-self: center;
  text-align: center;
  transition: 0.3s ease-in;
  color: #1b6246;
}

nav > ul > li > ul > li {
  margin-top: 15px;
}

nav > ul > li > ul {
  display: none;
}

nav > ul > li:hover {
  cursor: pointer;
  background-color: #1b6246;
  color: #ffffff;
}

nav > ul > li:hover > ul {
  display: contents;
}

nav > ul > li > ul > li:hover {
  background-color: #1b6246;
  color: #ffffff;
}

.home {
    grid-area: home;
    align-self: center;
    justify-self: center;
    transition: 0.3s ease-in;
}

.home > a {

  font-size: 36px;
  color: #ffffff;
  font-family: "Style Script", cursive;
  padding: 0;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.home:hover > a {
    background-color: #ffffff;
    color: #82a396;  
}

/*main*/
main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 30vh 40vh 1fr;
  grid-template-areas:
    "title"
    "guirland"
    "text"
    "articles";
}

h1 {
  grid-area: title;
  font-size: 70px;
  color: #1b6246;
  font-family: "Style Script", cursive;
  padding: 0;
  margin: 0;
  align-self: center;
}

.main-text {
    grid-area: text;
    font-size: 36px;
  color: #1b6246;
}

.guirland {
  grid-area: guirland;
}


.articles {
    grid-area: articles;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "article1"
      "article2"
      "article3"
      "article4";
    margin: 0;
    padding: 0;
    grid-row-gap: 2rem;
}

.articles > article {
    display: grid;
    grid-template-columns: 1fr 5vw 1fr 1fr 1fr;
    grid-template-rows: 5vw 1fr 1fr 1fr;
    grid-template-areas:
    "article-img article-img . . ."
      "article-img article-img article-title article-title article-title"
      "article-img article-img article-text article-text article-text"
      ". emptybox article-text article-text article-text";
    margin: 0;
    padding: 0;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

.articles > .even {
    grid-template-columns: 1fr  1fr 1fr 5vw 1fr;
    grid-template-rows: 5vw 1fr 1fr 1fr;
    grid-template-areas:
    ". . . article-img article-img"
      "article-title article-title article-title article-img article-img"
      "article-text article-text article-text article-img article-img"
      "article-text article-text article-text emptybox ."; 
}

.article-title {
grid-area: article-title;
margin: 0;
padding: 0;
background-color: #c5ad9d;
}

main > article > h2 {
    grid-area: nav-heading;
    font-size: 46px;
    color: #1b6246;
    font-family: 'Style Script', cursive;
    margin: 0;
    padding: 0;
    
}

.article-text {
    grid-area: article-text;
    background-color: #c5ad9d;
    margin: 0;
    padding: 0;
}

.article-text > p {
    color: #ffffff;
    margin: 20px;
    font-size: 22px;
}


.articles > article > figure {
    grid-area: article-img;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.events-img-1 {
    background-image: url(../img/events/events1.png);
}

.events-img-2 {
    background-image: url(../img/events/events2.png);
}

.events-img-3 {
    background-image: url(../img/events/events3.png);
}

.events-img-4 {
    background-image: url(../img/events/events4.png);
}

.emptybox {
    grid-area: emptybox;
    background-color: #c5ad9d;
    margin: 0;
    padding: 0;
}

footer {
    grid-area: footer;
    background-color: #1b6246;
  }
  
  .icons {
    display: grid;
    grid-template-columns: 1fr 10vw 10vw 10vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". icon-facebook icon-instagram icon-web .";
    column-gap: 1vw;
  }
  
  .icons > a > img {
    max-width: 10vw;
    max-height: 10vw;
    margin: 0;
    padding: 0;
  }
  
  .icon-facebook {
    grid-area: icon-facebook;
  }
  .icon-instagram {
    grid-area: icon-instagram;
  }
  .icon-web {
    grid-area: icon-web;
  }

  @media screen and (max-width: 1600px) {
    body {
     
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 300vh 20vh;
      grid-template-areas:
        "header"
        "main"
        "footer";
  
    }
    h1 {
      justify-self: center;
    }
  
    .main-text {
      justify-self: center;
      margin: 20px;
    }
  }
  @media screen and (max-width: 1400px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: 20vh 20vh 40vh 1fr;
      grid-template-areas:
        "title"
        "guirland"
        "text"
        "articles";
    }
  
  }
  
  @media screen and (max-width: 1200px) {
    body {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 450vh 10vh;
      grid-template-areas:
        "header"
        "main"
        "footer";
  
    }
    header {
      grid-template-columns: 5vw 10vw 1fr 10vw 5vw;
      grid-template-rows: 1fr ;
      grid-template-areas:
        ". logo  home language .";
    }

    main {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 60vh 1fr;
      grid-template-areas:
        "title"
        "guirland"
        "text"
        "articles";
    } 

    .main-text {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 1000px) {

    body {
      grid-template-rows: 10vh 280vh 10vh;
      grid-template-areas: "header" "main" "footer";
    }
    header {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: " logo home language   ";
      grid-column-gap: 5vw;
      justify-items: center;
    }
  
    .articles > article,
    .articles > .even {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20vh 1fr  1fr;
      grid-template-areas:
        "article-title article-img "
        "article-text article-img"
        "article-text article-img";
    }
  
    .emptybox {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    body {
      grid-template-rows: 10vh 400vh 10vh;
    }
    .articles > article,
    .articles > .even {
      grid-template-columns: 1fr;
      grid-template-rows: 30vh 10vh 1fr;
      grid-template-areas:
        "article-img "
        "article-title"
        "article-text";}
  
        main {
          grid-template-columns: 1fr;
          grid-template-rows: 10vh 10vh 60vh 1fr;
          grid-template-areas:
            "title"
            "guirland"
            "text"
            "articles";
        } 

        .main-text {
          font-size: 18px;
        }

        .events-img-3 {
          background-position: top;
      }
  }

@media screen and (max-width: 400px) {
  .articles > article,
    .articles > .even {
      grid-template-rows: 20vh 10vh 1fr;}
} 

  