@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 130vh 120vh 20vh 80vh 20vh;
  grid-template-areas:
    "header header header"
    ". main ."
    "guir guir guir"
    ". section ."
    "footer footer footer";
  grid-row-gap: 2rem;
  background-color: #f6e9e3;
}

/*header*/

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 5vw 10vw 1fr 10vw 5vw;
  grid-template-rows: 10vh 20vh 100vh;
  grid-template-areas:
    ". logo . language ."
    "guirland guirland guirland guirland guirland"
    "hero-img hero-img hero-img hero-img hero-img";

  background-color: #1b6246;
}
header > nav {
  grid-area: language;
}

.logo-box {
  grid-area: logo;
}
.logo {
  justify-self: center;
  max-width: 10vh;
  max-height: 10vh;
}

header > figure {
  grid-area: guirland;
  background-color: #f6e9e3;
  margin: 0;
  align-self: top;
}

.hero-image {
  grid-area: hero-img;
  background-image: url(../img/Maincomp.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}


.guirland {
  background-image: url(../icons/guirlandsnowylong.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 10px;
  background-color: #ffffff;
  justify-self: center;
  text-align: center;
  transition: 0.3s ease-in;
  color: #1b6246;
}

nav > ul > li > ul > li {
  margin-top: 15px;
}

nav > ul > li > ul {
  display: none;
}

nav > ul > li:hover {
  cursor: pointer;
  background-color: #1b6246;
  color: #ffffff;
}

nav > ul > li:hover > ul {
  display: contents;
}

nav > ul > li > ul > li:hover {
  background-color: #1b6246;
  color: #ffffff;
}

/*main*/

main > figure {
  margin: 0;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "time-img time-text landscape-img"
    "cabins-text cabins-img history-text"
    "events-img events-text history-img";
  grid-row-gap: 0;
  background-color: #ffffff;
}

.time-img {
  grid-area: time-img;
  background-image: url(../img/nav1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.time-text {
  grid-area: time-text;
}
.landscape-img {
  grid-area: landscape-img;
  background-image: url(../img/nav2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cabins-text {
  grid-area: cabins-text;
}
.cabins-img {
  grid-area: cabins-img;
  background-image: url(../img/nav3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.history-text {
  grid-area: history-text;
}
.events-img {
  grid-area: events-img;
  background-image: url(../img/nav4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.events-text {
  grid-area: events-text;
}
.history-img {
  grid-area: history-img;
  background-image: url(../img/nav5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main > article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nav-text"
      "nav-heading"
      "nav-button";
    grid-row-gap: 1vh;
    align-items: center;
    justify-items: center;
}

main > article > p {
    grid-area: nav-text;
}


main > article > h2 {
    grid-area: nav-heading;
    font-size: 46px;
    color: #1b6246;
    font-family: 'Style Script', cursive;
    margin: 0;
    padding: 0;
    
}

main > article > div {
    grid-area: nav-button;
    margin: 0;
}

main > article > div > a{
    text-decoration: none;
    color: #ffffff;
    background-color: #1b6246;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s ease-in;
    font-size: 20px;
    text-transform: capitalize;
}

main > article > div > a:hover{
    text-decoration: none;
    color: #c91116;
    background-color: #c5ad9d;
}





/*section* guirland*/

.guirland.section {
  grid-area: guir;
}

/*section*/

.text {
  grid-area: section;
  background-color: #ffffff;
}

footer {
  grid-area: footer;
  background-color: #1b6246;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 10vw 10vw 10vw 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". icon-facebook icon-instagram icon-web .";
  column-gap: 1vw;
}

.icon-facebook {
  grid-area: icon-facebook;
  background-image: url(../icons/FB.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}
.icon-instagram {
  grid-area: icon-instagram;
  background-image: url(../icons/IG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}
.icon-web {
  grid-area: icon-web;
  background-image: url(../icons/Aalborgweb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}
