body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 100vh 120vh 80vh 20vh ;
    grid-template-areas: "header header header" 
                         ". main ."
                         ". section ."
                         "footer footer footer";
    grid-row-gap: 5px;                     
}
 header {
    grid-area: header;
    display: grid;
    grid-template-columns: 5vw 10vw 1fr 10vw 5vw;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". logo . language ."
                         ". logo . . .";
                         
    border:rgb(0, 0, 0) solid 2px;
 }
nav {
    grid-area: language;
}

nav>img {
    grid-area: logo;
}

main{
    grid-area: main; 
    border:rgb(0, 0, 0) solid 2px;
}

section {
    grid-area: section;
    border:rgb(0, 0, 0) solid 2px;
}

footer{
    grid-area: footer;
    border:rgb(0, 0, 0) solid 2px;
}